{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h1>
        <h1>Добро пожаловать в вымышленную компанию</h1>
    </h1>

    <main>
        <section>
            <h2>О нашей компании</h2>
            <p>Мы - вымышленная компания, специализирующаяся на разработке искусственного интеллекта и инновационных
            решений для будущего. Наша цель - изменить мир с помощью технологий и улучшить жизни людей.</p>
        </section>
    </main>

{% endblock %}